<div class="container ">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-8">
            <form action="/HomeSearch" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search with college name, place, rank..." name="search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>