<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3 " style="text-align: center;">
      <div class="container">
        <a href="/" class=" mb-3 link-dark text-decoration-none">
          <img src="/images/Asset 2-8.png" alt="logo" class="logo  ml-3" height="150px" width="150px">
        </a>
      </div>
      <p class="text-muted">© Ratar Technologies PVT.Ltd - 2022</p>
    </div>

    <div class="col mb-3 text-center">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="/allColleges" class="nav-link p-0 text-muted">Colleges</a></li>
        <li class="nav-item mb-2"><a href="/c-g-experts" class="nav-link p-0 text-muted">Career Guidence Expert</a></li>
        <li class="nav-item mb-2"><a href="/about#contact" class="nav-link p-0 text-muted">Contact US</a></li>
      </ul>
    </div>

    <div class="col mb-3 text-center">
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About</a></li>
        <li class="nav-item mb-2"><a href="/about#team" class="nav-link p-0 text-muted">Team</a></li>
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Careers</a></li>
      </ul>
    </div>

    <div class="col mb-3 text-right">
      <h5>Social Media</h5>
      <ul class="nav flex-column ">
        <li class="nav-item mb-2"><a href="https://www.instagram.com/rater_technologies/" target="_blank"
            class="nav-link p-0 text-muted"><i style="color: #00c200;" class="fa fa-instagram fa-2x" size="20px"></i>
            Instagram</a> </li>
        <li class="nav-item mb-2"><a href="#" target="_blank" class="nav-link p-0 text-muted"><i
              class="fa fa-facebook-square fa-2x" size="20px" style="color: #00c200;"></i> Facebook</a></li>
        <li class="nav-item mb-2"><a href="#" target="_blank" class="nav-link p-0 text-muted"><i
              class="fa fa-linkedin-square fa-2x" size="20px" style="color: #00c200;"></i> Linkedin</a></li>
        <li class="nav-item mb-2"><a href="#" target="_blank" class="nav-link p-0 text-muted"><i
              class="fa fa-twitter-square fa-2x" size="20px" style="color: #00c200;"></i> Twitter</a></li>
      </ul>
    </div>
  </footer>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="text-muted"> <img src="/images/hd.ico" alt="" height="50px" weight="50px"> designed and developed by
        <strong> <a href="http://www.hyperdevelopers.in/" style="color: black; text-decoration: none; ">
            HyperDevelopers</a> </strong>
      </p>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>