<div class="container">
    <div class="p-5 m-5">
        <div class="container">
            <form action="/addLogo">
                <div class="form-group p-2">
                    <label for="collegeImage">College LOGO (size)</label>
                    <input type="file" class="form-control-file" id="clgLogo" name="clgLogo">

                </div>
                <button type="submit" class="btn btn-success w-100">Submit </button>
            </form>
        </div>
    </div>
</div>