<div class="container">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">ADMIN PANNEL</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link link-dark" aria-current="page">
                <i class="fa fa-dashcube"></i> DashBoard
            </a>
          </li>
          <li>
            <a href="/admin/add-college" class="nav-link link-dark">
                <i class="fa fa-building"></i> Add College
            </a>
          </li>
          <li>
            <a href="/admin/add-c-g-expert" class="nav-link link-dark">
                <i class="fa fa-address-card"></i> Add C-G Expert
            </a>
          </li>
          
          <li>
            <a href="/admin/view-clgs" class="nav-link link-dark">
              <i class="fa fa-university"></i> View Colleges
            </a>
          </li>
          <li>
            <a href="/admin/view-C-G-Experts" class="nav-link link-dark">
              <i class="fa fa-user"></i> View C-G Experts
            </a>
          </li>
          <li>
            <a href="/admin/view-contactus" class="nav-link link-dark">
              <i class="fa fa-street-view"></i> View Contact Us
            </a>
          </li>
          <li>
            <a href="/logout" class="nav-link link-danger">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ul>
        <hr>
        
      </div>
</div>