.mainNav {
    box-shadow: 4px 0px 5px rgb(37, 37, 37);
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #00c200;
}

#AllCollegeHero {
    background-color: #00c200;

}